body {
  overflow: auto;
  background-color: #dbebf8;
  margin: 0px;
}
header, footer {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  background-color: #ffffff;
}
header {
  border-bottom: solid #cccccc;
  width: 100%;
}
.contents {
  width: 960px;
  margin: 0 auto;
}
footer {
  width: 100%;
  border-top: solid #cccccc;
}
nav,aside,article {
  margin: 10px;
}
nav {
  width: 20%;
  float: left;
}
aside {
  width: 16%;
  float: left;
}
article {
  float: left;
  width: 57%;
}
form {
  display: flex;
}
h1 {
  color: #ffffff;/*文字色*/
  line-height: 1.3;/*行高*/
  background: #1E90FF;/*背景色*/
  vertical-align: middle;
  border-radius: 25px 25px 25px 25px;/*角を丸く*/
  font-size: 18px;
  margin: 5px 0px;
  background-image: url("images/icon/dish.png");
  background-repeat: no-repeat;
  padding-left: 20px;
  height: 24px;
  background-position: 0 0px
}
ul {
  list-style-position: inside;
  list-style-image: url(images/icon/arrow.png);
  padding-inline-start: 0px;
}
.favicon {
  height: 16px;
  width: 16px;
}

/* ヘッダー */
.logo {
  float: left;
}
.search {
  float: right;
  width: 250px;
  margin: 30px 0px 0px;
}
}
.menu {
  clear: both;
  margin: 10px 0;
}
.menu ul {
  margin: auto;
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
  padding-left: 0;
}
.menu-ul li {
  border-right: 1px solid #cccccc;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.menu-ul li:last-child {
  border: none;
}
/* ナビゲーション */
.nav-item {
  margin: 0px 0px 10px 0px;
  background-color: #ffffff;
  height: 130px;
  overflow : hidden;
}
.nav-item-list {
  margin: 0px 10px;
}
.nav-item-list ul li {
  border-bottom: dotted #cccccc;
}
.nav-item-list ul li:last-child {
  border: none;
}

/* コンテンツ */
.article-top,.article-main,.article-bottom {
  font-size: 12px;
  background-color: #ffffff;
}
.article-main,.article-bottom {
  margin: 10px 0px 10px 0px;
}
.article-img {
  width: 60%;
  float: left;
  margin-left: 5px;
  margin-block-start: 1em;
}
.article-img img {
  width: 100%;
}
.article-description {
  width: 35%;
  float: right;
  margin: 0px 10px 0px 0px;
}
.article-description p {
  text-indent: 1em;
}
.article-continue {
  text-align: right;
}

/* コンテンツ上段 */
.article-top {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding-left: 0;
}
.article-top .new-recipe {
  width: 100px;
}

/* コンテンツ中段 */
.article-main {
  overflow : hidden;
  /* width: 400px; */
}
.article-description {
  margin: 0px 10px;
}

/* コンテンツ下段 */
.article-bottom {
  overflow : hidden;
  clear: both;
  height: 300px
}
.article-bottom h2 {
  font-size: 16px;
  color: #4B0082;
}

/* 広告 */
.aside-item {
  margin: 0px 0px 10px 0px;
}

/* フッター */
.footer-nav {
  margin: 10px 0px 0px 0px;
  display: block;
  font-size: 12px;
  text-align: center;
}
.footer-nav ul {
  width: 60%;
  margin: auto;
  display: table;
  table-layout: fixed;
  text-align: center;
  padding-left: 0;
}
.footer-nav ul li {
  border-right: 1px solid #cccccc;
  font-size: 12px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.footer-nav ul li:last-child {
  border: none
}
.copyright {
  margin: 20px 0px;
  font-size: 10px;
  text-align: center;
}
