body, nav, aside, article, section {
}
body {
  overflow: auto;
  width: 960px;
}
header, footer {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  background-color: #ffffff;
  /* margin-left: -500%;
  margin-right: -500%;
  padding-left: 500%;
  padding-right: 500%; */
}
header {
  border-bottom: solid #cccccc;
  width: 100%;
  margin: auto;
}
footer {
  margin: auto;
  clear: both;
  border-top: solid #cccccc;
  display: flex;
}
body {
  border: solid #cccccc;
}
nav,aside,article {
  margin: auto;
}
nav {
  width: 20%;
  float: left;
  border: solid #cccccc;
}
aside {
  width: 16%;
  float: left;
  border: solid #cccccc;
}
article {
  border: solid #cccccc;
  float: left;
  width: 60%;
}
form {
  float: right;
}
h1 {
  color: #505050;/*文字色*/
  line-height: 1.3;/*行高*/
  background: #dbebf8;/*背景色*/
  vertical-align: middle;
  border-radius: 25px 25px 25px 25px;/*角を丸く*/
  font-size: 16px;
  margin: 10px 0px;
}
h1:before {
  content: url("images/icon/favicon.ico");
}
ul {
  list-style-position: inside;
	list-style-image: url(images/icon/arrow.png);
}
.favicon {
  height: 16px;
  width: 16px;
}

/* ヘッダー */
.logo {
  float: left;
  /* border: solid #cccccc; */
}
.search {
  float: right;
  /* border: solid #cccccc; */
  width: 50%;
}
.menu {
  clear: both;
  width: 100%;
  /* border: solid #cccccc; */
}
.menu-ul {
  /* border: solid #cccccc; */
  margin: auto;
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100%;
  padding-left: 0;
}
.menu-ul li {
  border-right: 1px solid #cccccc;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* ナビゲーション */
.nav-item {
  margin: 10px 0px 10px 0px;
  border: solid #cccccc;
}

/* コンテンツ */
.article-top,.article-main,.article-bottom {
  margin: 10px 0px 10px 0px;
  border: solid #cccccc;
  font-size: 12px;
}
.article-img {
  width: 60%;
  border: solid #cccccc;
  float: left;
}
.article-img img {
  width: 100%;
  margin-right: 20px;
}
.article-description {
  width: 35%;
  border: solid #cccccc;
  float: left;
}
.article-description p {
  text-indent: 1em;
}
.article-continue {
  text-align: right;
}

/* コンテンツ上段 */
.article-top {
  border: solid #cccccc;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding-left: 0;
}
.article-top .new-recipe {
  width: 100px;
}

/* コンテンツ中段 */
.article-main {
  overflow : hidden
}

/* コンテンツ下段 */
.article-bottom {
  clear: both;
}
.article-bottom h2 {
  font-size: 16px;
  color: #dbebf8;
}

/* 広告 */
.aside-item {
  margin: 10px 0px 10px 0px;
  border: solid #cccccc;
}

/* フッター */
.footer-nav {
  font-size: 12px;
  border: solid #cccccc;
  margin: auto;
  text-align: center;
}
.footer-nav ul {
  /* border: solid #cccccc; */
  width: 60%;
  margin: auto;
  display: table;
  table-layout: fixed;
  text-align: center;
  padding-left: 0;
}
.footer-nav ul li {
  border-right: 1px solid #cccccc;
  font-size: 12px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.copyright {
  font-size: 10px;
  border: solid #cccccc;
  margin: auto;
  text-align: center;
  clear: both;
}
